body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/back_ground.webp');
  background-size: cover;
  background-position: center;
  height: 100vh; 
}

* {
  box-sizing: border-box;
}